<div class="gridarea_a">
    <div id="back" class="frame_wrapper">
        <a href="javascript:history.back()">
            <picture>
                <source
                    srcset="/resources/hand_gluehwurm.png"
                    media="(max-width: 800px)"
                />
                <img
                    src="/resources/back_puffer.png"
                    alt="Eine Hand / Zurück-Button"/>
            </picture>
            <span class="imgtext backtext">zurück...</span>
        </a>
    </div>
</div>