<div id="menu">
	<a class="menuitem shoplink" href="https://www.galerie-der-abseitigen-kuenste.de/produkt/davide-toffolo-interview-mit-pasolini" target="_blank">Im Shop</a><br class="onlyd"> /
	<a class="menuitem" href="/">Startseite</a><br class="onlyd"> /
	<a class="menuitem" href="https://instagram.com/gadak_hh" target="_blank">@gadak_hh</a><br class="onlyd"> /
	<a class="menuitem" href="impressum">Impressum</a></br>
	<p style="font-size: 0.7em; margin-bottom: 0pt">© 2024 Galerie der abseitigen Künste</p>
</div>