.container {
  position: relative;
}

.top-left {
  position: absolute;
  top: 2.5%;
  left: 5%;
}

.bottom-left {
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.frame {
  position:relative;
  z-index: 50;
  width:100%;
}

.textblock {
  margin: 0.5vw;
}

#konsum {
  width: 50%;
}

#link {
  width: 50%;
  z-index: 100;
}

#geschichte {
  width: 60%;
}

#compu {
  width: 80%;
}

body {
	display: grid;
  grid-template-columns: 59vw auto;
	font-size: max(13pt, 1em);
  margin: 1vw;
}

h1 {
  font-size: 30pt;
}

h2 {
	font-style:italic;
	font-weight: normal;
	font-size:18pt;
}

h3 {
	font-style:italic;
	font-size:24pt;
}

@media screen and (max-width: 800px){
	h1 {
		font-size: 6.83vw;
		text-align: center;
  }
	h2 {
		font-size: 4.5vw;
		text-align: center;
	}
  h3 {
	  font-size:6.83vw;
  }
  body {
    display: block;
  }
}
  
@media screen and (max-width: 400px){
  body {
    font-size:4vw;
  }
}
