* {
    cursor: url('../resources/cursor.png'), auto;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}



body {
    font-family: "Garamond", serif;
    line-height: 1;
    display: table-cell;
    vertical-align: top;
    max-width: 1000px;
    font-size: 13pt;
    padding: 20px;
    padding-bottom: 2vh;
}

a {
  cursor: url('../resources/cursor_sm.png'), auto;
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 30pt;
}

h2 {
	font-style:italic;
	font-weight: normal;
	font-size:18pt;
}

img {
    max-width: 100%;
    display: block; /* Ensure no extra space below the image */
}

.frame_wrapper {
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.imgtext {
  position: absolute;
  top: 2.5%;
  left: 5%;
  width: 50%;
  z-index: 100;
}

.bottom-left {
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.frame, #dichterframe{
  z-index: 50;
  width:100%;
  position:relative;
  transition: transform 0.2s ease-in-out;
}

.frame:hover,.frame_wrapper:hover{
  transform: scale(0.96);
}

#titleblock {
  margin: 0 5px;
}

#title{
  margin-top: 0.5pt;
  margin-bottom: -6pt;
}

#link {
  width: 50%;
  z-index: 100;
}

.grid_wrapper {
  display: grid;
  grid-template-rows: auto auto;
  gap: 5px;

}

.row1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.col1_1{
  display: grid;
}

.col1_2{
  display: grid;
  align-content: end;
}

.row2 {
  display: grid;
  grid-template-columns: auto 55%;
  gap: 5px;
}

#dichter{
  align-self: end;

}

#geschichte{
  width: 60%;
}

.col2_1{
  display: grid;
}

.col2_2{
  display: grid;
}

#rabe{
  width: 80%;
  margin-left:20%;
}

#menu {
  align-self: end;
  align-content: end;
  cursor: url('../resources/cursor_sm.png'), auto;
  font-style: italic;
}

.menuitem:hover {
  font-style: normal;
}

#compu{
  width: 70%
}

.onlym {
  display:none;
}

@media screen and (max-width: 800px){
  body{
    font-size: 15pt;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  
	h1 {
		font-size: max(6.83vw, 15pt);
		text-align: center;
  }
	h2 {
		font-size: max(4vw, 15pt);
		text-align: center;
	}
  
  .row1, .row2 {
    display: block;
  }
  
  .imgtext {
    width: 37%;
    top: 2.5%;
    left: 5%;
  }
  
  .col1_2{
    display: flex;
    gap: 5px;
  }
  
  #geschichte{
    width: 100%;
  }
  
  .row2 {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .col2_1{
    width: 50%;
  }
  
  .col2_2{
    width: 50%;
  }
  
  #rabe{
    width: 100%;
    margin-left: 0;
  }
  
  #compu{
    width: 100%;
  }
  
  #menu {
    display:table-cell;
    vertical-align:bottom;
    text-align: right;
    margin-bottom: 5px;
  }
  
  .onlym {
    display:block;
  }
}
  
@media screen and (max-width: 430px){
  body {
    font-size:max(4vw, 14pt);
  }
  
  h1 {
		font-size: max(6.83vw, 14pt);
  }
  
	h2 {
		font-size: max(4.5vw, 14pt);
	} 
}
