.frame_wrapper {
    position: relative;
}

.top-left {
  position: absolute;
  top: 2.5%;
  left: 5%;
}

.bottom-left {
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.frame {
  z-index: 50;
  width:100%;
}

.textblock {
  margin: 0.5vw;
}

#konsum {
  width: 50%;
}

#link {
  width: 50%;
  z-index: 100;
}

.grid_wrapper {
	display: grid;
  grid-template-rows: auto auto;

}

.row1 {
  display: grid;
  grid-template-columns: auto auto;
}

.col1_1{
  display: grid;
}

.col1_2{
  display: grid;
  align-content: end;
}

.row2 {
  display: grid;
  grid-template-columns: auto auto;
}

#dichter{
  align-self: end;
}

#geschichte{
  width: 60%;
}


#rabe{
  width: 80%;
margin-left:20%;
}

#compu{
  width: 70%
}

h1 {
  font-size: 30pt;
}

h2 {
	font-style:italic;
	font-weight: normal;
	font-size:18pt;
}

h3 {
	font-style:italic;
	font-size:24pt;
}

@media screen and (max-width: 800px){
	h1 {
		font-size: 6.83vw;
		text-align: center;
  }
	h2 {
		font-size: 4.5vw;
		text-align: center;
	}
  h3 {
	  font-size:6.83vw;
  }
  .row1, row2 {
    display: block;
  }
}
  
@media screen and (max-width: 400px){
  body {
    font-size:4vw;
  }
}
