.frame_wrapper {
    position: relative;
}

.top-left {
  position: absolute;
  top: 2.5%;
  left: 5%;
}

.bottom-left {
  position: absolute;
  bottom: 7%;
  left: 5%;
}

.frame {
  z-index: 50;
  width:100%;
}

.textblock {
  margin: 0.5vw;
}

#konsum {
  width: 50%;
}

#link {
  width: 50%;
  z-index: 100;
}

.grid_wrapper {
	display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  grid-auto-rows: minmax(100px, auto);
  align-items: end;
}

#title {
  grid-column: 1 / 4;
  grid-row: 1;
}

#dichter {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

#rabe {
  grid-column: 2 / 3;
  grid-row: 3;
}

#geschichte {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

#nanni {
  grid-column: 4 / 6;
  grid-row: 3 / 5;

}

#cocco {
  grid-column: 1 / 3;
  grid-row: 6;
}

#compu {
  grid-column: 1 / 3;
  grid-row: 7;
}

h1 {
  font-size: 30pt;
}

h2 {
	font-style:italic;
	font-weight: normal;
	font-size:18pt;
}

h3 {
	font-style:italic;
	font-size:24pt;
}

@media screen and (max-width: 800px){
	h1 {
		font-size: 6.83vw;
		text-align: center;
  }
	h2 {
		font-size: 4.5vw;
		text-align: center;
	}
  h3 {
	  font-size:6.83vw;
  }
  .grid_container {
    display: block;
  }
}
  
@media screen and (max-width: 400px){
  body {
    font-size:4vw;
  }
}
