body{
    max-width: 850px;
    width: 70vw;
}

.grid{
    display: grid;
    grid-template: 
    "a c" auto
    ". c" auto        
    "b c" auto / min(20vw, 200px) auto ;
    gap: 20px;
}

.gridarea_a{
    grid-area: a;
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    height: auto;
}

#back{
    align-self: end;
}

.backtext{
    height: 100%;
    width: 100%;
}

#menu {
    grid-area: b;
}
.imgtext{
    top: 0;
    left: 5px;
}

.content{
    grid-area: c;
}

#subtitle{
    margin-top: 0;
}

.textbody{
    margin-bottom: -1em;
}

.textbody > p {
    margin: 1em 0%;
    line-height: 1.15;
    hyphens: auto;

}

.content-block {
    display: none;
    margin-top: -1em;
    font-size: 0.9em;
    max-height: 0; /* Initially collapsed */
    overflow: hidden; /* Hide overflow content during the transition */
    transition: max-height 0.5s ease, opacity 0.1s ease, margin-top 0.5s ease;
    opacity: 0; /* Start fully transparent */
}

.content-block.active {
    display: block; /* Ensure block is displayed */
    max-height: 5000px; /* Large enough to accommodate the content */
    opacity: 1; /* Fully visible */
    margin-left: 1.2em;
    margin-top: 0;
    justify-content: left;
}

.footnoteline{
    width: 70%;
    margin-left: 0;
}

    .coda-img{
        padding-bottom: 1em
}


@media screen and (max-width: 800px){   
    
    body{
        width: 100%;
    }
    
    .gridarea_a {
        position: relative;
    }
    
    .grid{
        display: block;
    }
    
    .frame_wrapper{
        width: 150px;
    }

    
    #subtitle{
        margin-top: 2em;
        text-align: left;
        margin-left: 0;
    }
    
    #menu {
        display:block;
        text-align: left;
        margin-bottom: 5px;
        margin-top: 40pt;
    }
    
    .imgtext{
        left: 70px;
        top: 18px;
    }
    
    .onlyd{
        display: none;
        
    }
}



@media screen and (max-width: 430px){
    .textbody > p {
        width: 100%;
        margin: 1em 0;
    }
}
